<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa lớp học phần</title>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang chủ lý</h1>
            <ul>
                <li><a class="current" href="/qly">Trang chủ</a></li>
                <li><a href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a class="current" href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="form-container">
    <div class="form-wrap">
        <h2>Xóa thông tin lớp học phần
            <span th:text="${lopHocPhan.maLopHocPhan}"></span>
        </h2>
        <form method="post"
              th:action="@{/qly/hocki/{idHocKi}/lophocphan/xoa/{idLopHocPhan}(idHocKi=${hocKi.id},idLopHocPhan=${lopHocPhan.id})}"
              th:object="${lopHocPhan}">

            <div class="form-group">
                <label for="maLopHocPhan">Mã lớp học phần:</label>
                <input id="maLopHocPhan" readonly th:field="${lopHocPhan.maLopHocPhan}" type="text">
            </div>

            <div class="form-group">
                <label for="giangVien">Giảng viên:</label>
                <input id="giangVien" readonly th:field="${lopHocPhan.giangVienMonHoc.giangVien.hoTen}"
                       type="text"></input>
            </div>

            <div class="form-group">
                <label for="monHoc">Môn học:</label>
                <input id="monHoc" readonly th:field="${lopHocPhan.giangVienMonHoc.monHoc.tenMonHoc}"
                       type="text"></input>
            </div>

            <div class="form-group">
                <label for="ngayTrongTuan">Ngày trong tuần</label>
                <input id="ngayTrongTuan" readonly th:field="${lopHocPhan.ngayTrongTuan}" type="text"></input>
            </div>

            <div class="form-group">
                <label for="kipTrongNgay">Kíp trong ngày:</label>
                <input id="kipTrongNgay" readonly th:field="${lopHocPhan.kipTrongNgay}" type="text"></input>
            </div>

            <div class="form-group">
                <label for="phongHoc">Phòng học</label>
                <input id="phongHoc" readonly th:field="${lopHocPhan.phongHoc}" type="text"></input>
            </div>

            <button type="submit">Xóa</button>
        </form>
    </div>
</div>

</body>
</html>