<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa môn học</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a href="/qly">Trang chủ</a></li>
                <li><a href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a class="current" href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>Xóa môn học</h1>
<div th:object="${monHoc}">

    <label for="maMonHoc">Mã môn học</label>
    <p id="maMonHoc" th:text="${monHoc.maMonHoc}"></p>

    <label for="tenMonHoc">Tên môn học</label>
    <p id="tenMonHoc" th:text="${monHoc.tenMonHoc}"></p>

    <label for="tenKhoa">Tên khoa:</label>
    <p id="tenKhoa" th:text="${monHoc.khoa.tenKhoa}"></p>

    <form action="#" method="post" th:action="@{/qly/monhoc/xoa/{id}(id=${monHoc.id})}">
        <button type="submit">Xóa</button>
    </form>
</div>
</body>
</html>