<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm Giảng Viên</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a href="/qly">Trang chủ</a></li>
                <li><a class="current" href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="form-container">
    <div class="form-wrap">
        <h2>Thêm Sinh Viên</h2>
        <form action="#" method="post" th:action="@{/qly/giangvien/them}" th:object="${giangVien}">
            <div class="form-group">
                <p th:errors="*{hoTen}" th:if="${#fields.hasErrors('hoTen')}">Họ tên không hợp lệ</p>
                <label for="hoTen">Họ tên:</label>
                <input id="hoTen" th:field="${giangVien.hoTen}" type="text"/>
            </div>

            <div class="form-group">
                <label for="ngaySinh">Ngày Sinh:</label>
                <input id="ngaySinh" th:field="${giangVien.ngaySinh}" type="date">
            </div>

            <div class="form-group">
                <p th:errors="*{cccd}" th:if="${#fields.hasErrors('cccd')}">Căn cước công dân không hợp lệ</p>
                <label for="cccd">CCCD:</label>
                <input id="cccd" th:field="${giangVien.cccd}" type="text">
            </div>

            <div class="form-group">
                <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email không hợp lệ</p>
                <label for="email">Email:</label>
                <input id="email" th:field="${giangVien.email}" type="email">
            </div>

            <div class="form-group">
                <p th:errors="*{sdt}" th:if="${#fields.hasErrors('sdt')}">Số điện thoại không hợp lệ</p>
                <label for="sdt">Số điện thoại:</label>
                <input id="sdt" th:field="${giangVien.sdt}" th:value="${giangVien}" type="tel">
            </div>

            <div class="form-group">
                <label for="khoa">Khoa:</label>
                <select class="form-control" id="khoa" th:field="${giangVien.khoa}">
                    <option th:each="khoa : ${dsKhoa}" th:text="${khoa.tenKhoa}" th:value="${khoa.id}"></option>
                </select>
            </div>

            <button type="submit">Thêm</button>

        </form>
    </div>
</div>


</body>
</html>