<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa môn học</title>
</head>
<body>
<div id="navbar">
    <a href="/qly/giangvien">Quản lý giảng viên</a>
    <a href="/qly/sinhvien">Quản lý sinh viên</a>
    <a href="/qly/monhoc">Quản lý môn học</a>
    <a href="/qly/hocki">Quản lý học kì</a>
    <a href="/qly/modotdangki">Mở đợt đăng kí</a>
</div>
<h1>Sửa môn học</h1>
<div>
    <p th:text="${message}"></p>
</div>
<div th:object="${monHoc}">
    <form action="#" method="post" th:action="@{/qly/monhoc/sua/{id}(id=${monHoc.id})}">
        <input th:field="${monHoc.id}" type="hidden"/>
        <input th:field="${monHoc.maMonHoc}" type="hidden"/>
        <input th:field="${monHoc.khoa}" type="hidden"/>

        <p th:errors="*{monHoc.tenMonHoc}" th:if="${#fields.hasErrors('tenMonHoc')}">Tên môn học không hợp lệ</p>
        <label for="tenMonHoc">Tên môn học</label>
        <input id="tenMonHoc" name="tenMonHoc" th:value="${monHoc.tenMonHoc}" type="text"><br>
        <button type="submit">Sửa</button>
    </form>
</div>
</body>
</html>