<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Quản lý học kì</title>

    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a href="/qly">Trang chủ</a></li>
                <li><a href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a class="current" href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<h1 class="page-title">Quản lý học kì</h1>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã học kì</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hocKi, i : ${dsHocKi}">
        <td><span th:text="${i.index + 1}"></span></td>
        <td><span th:text="${hocKi.maHocKi}"></span></td>
        <td th:text="${#temporals.format(hocKi.ngayBatDau, 'dd/MM/yyyy')}"></td>
        <td th:text="${#temporals.format(hocKi.ngayKetThuc, 'dd/MM/yyyy')}"></td>
        <td><a th:href="@{/qly/hocki/sua/{id}(id=${hocKi.id})}">Sửa</a></td>
        <td><a th:href="@{/qly/hocki/xoa/{id}(id=${hocKi.id})}">Xóa</a></td>
        <td><a th:href="@{/qly/hocki/{id}/lophocphan(id=${hocKi.id})}">Quản lý lớp học phần</a></td>
    </tr>
    </tbody>
</table>

<a href="/qly/hocki/them">
    <button class="table-submit-button">Thêm học kì</button>
</a>

</body>
</html>