<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa sinh viên</title>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a href="/qly">Trang chủ</a></li>
                <li><a href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a class="current" href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="form-container">
    <div class="form-wrap">
        <h2>Xóa sinh viên
            <span th:text="${sinhVien.hoTen}"></span>
            khỏi lớp học phần
        </h2>
        <form th:action="@{/qly/hocki/{idHocKi}/lophocphan/sinhvien/{idLopHocPhan}/xoa/{idSinhVien}(idHocKi=${hocKi.id},idLopHocPhan=${lopHocPhan.id},
      idSinhVien=${sinhVien.id})}" th:method="post">
            <div class="form-group">
                <label for="maSinhVien">Mã sinh viên</label>
                <input id="maSinhVien" readonly th:field="${sinhVien.maSinhVien}"/><br>
            </div>
            <div class="form-group">
                <label for="hoTen">Họ tên</label>
                <input id="hoTen" readonly th:field="${sinhVien.hoTen}"/><br>
            </div>
            <div class="form-group">
                <label for="ngaySinh">Ngày sinh</label>
                <input id="ngaySinh" readonly th:field="${sinhVien.ngaySinh}"/><br>
            </div>
            <button type="submit">Xác nhận</button>
        </form>
    </div>
</div>

</body>
</html>