<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/qly/modotdangky}">
    <label>Học Kì:</label>
    <div>
        <label for="hocKi">Học kì:</label>
        <select id="hocKi" onchange="restrictRegistrationTimeByHocKi()">
            <option th:each="hocKi : ${dsHocKi}" th:text="${hocKi.maHocKi}" th:value="${hocKi}"></option>
        </select>
    </div>
    <label for="batDau">Thời gian bắt đầu</label>
    <input type="date" id="batDau" th:name="batDau">
    <button type="submit">Mở đăng kí</button>
</form>
</form>

</body>
</html>
