<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa học kì</title>
    <script src="/js/showNgayKetThuc.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body onload="showNgayKetThuc()">
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a class="current" href="/qly">Trang chủ</a></li>
                <li><a href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a class="current" href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>Thêm học kì</h1>
<div>
    <p th:text="${message}"></p>
</div>
<form action="#" method="post" th:action="@{/qly/hocki/sua/{id}(id=${hocKi.id})}" th:object="${hocKi}">
    <div>
        <p th:errors="*" th:if="${#fields.hasErrors()}"></p>
        <label for="ngayBatDau">Ngày bắt đầu:</label>
        <select class="form-control" id="ngayBatDau" onchange="showNgayKetThuc()" th:field="${hocKi.ngayBatDau}">>
            <option th:each="thuHai : ${dsThuHai}" th:text="${thuHai}" th:value="${thuHai}"></option>
        </select>
    </div>
    <div>
        <label for="ngayKetThuc">Ngày kết thúc:</label>
        <input id="ngayKetThuc" readonly th:field="${hocKi.ngayKetThuc}" th:value="${hocKi.ngayKetThuc}" type="text"/>
    </div>
    <button type="submit">Sửa</button>
</form>
</body>
</html>
