<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý Sinh Viên</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a href="/qly">Trang chủ</a></li>
                <li><a href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a class="current" href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1 class="page-title">Quản lý Sinh Viên</h1>
<div class="search-bar-container">
    <form class="search-bar" method="get" th:action="@{/qly/sinhvien}">
        <label for="type">Tìm kiếm theo</label>
        <select id="type" th:name="type">
            <option th:value="hoTen">Tên sinh viên</option>
            <option th:value="maSinhVien">Mã sinh viên</option>
        </select>
        <input th:name="keyword" type="text" placeholder="Nhập từ khóa tìm kiếm"/>
        <button class="table-submit-button" type="submit">Tìm kiếm</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã SV</th>
        <th>Họ tên</th>
        <th>Khoa</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sinhVien, i : ${dsSinhVien}">
        <td><span th:text="${i.index + 1}"></span></td>
        <td><span th:text="${sinhVien.maSinhVien}"></span></td>
        <td th:text="${sinhVien.hoTen}"></td>
        <td th:text="${sinhVien.khoa.tenKhoa}"></td>
        <td><a th:href="@{/qly/sinhvien/sua/{id}(id=${sinhVien.id})}">Sửa</a></td>
        <td><a th:href="@{/qly/sinhvien/xoa/{id}(id=${sinhVien.id})}">Xóa</a></td>
    </tr>
    </tbody>
</table>
<a href="/qly/sinhvien/them">
    <button class="table-submit-button">Thêm Sinh Viên</button>
</a>
</body>
</html>