<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa học kì</title>
</head>
<body>
<div id="navbar">
    <a href="/qly/giangvien">Quản lý giảng viên</a>
    <a href="/qly/sinhvien">Quản lý sinh viên</a>
    <a href="/qly/monhoc">Quản lý môn học</a>
    <a href="/qly/hocki">Quản lý học kì</a>
    <a href="/qly/modotdangki">Mở đợt đăng kí</a>
</div>
<h1>Xóa học kì</h1>
<p th:text="${message}"></p>
<form action="#" method="post" th:action="@{/qly/hocki/xoa/{id}(id=${hocKi.id})}" th:object="${hocKi}">
    <label for="maHocKi">Mã học kì:</label>
    <p id="maHocKi" th:text="${hocKi.maHocKi}"></p><br>
    <label for="ngayBatDau">Ngày bắt đầu:</label>
    <p id="ngayBatDau" th:text="${#temporals.format(hocKi.ngayBatDau, 'dd/MM/yyyy')}"></p><br>
    <label for="ngayKetThuc">Ngày kết thúc:</label>
    <p id="ngayKetThuc" th:text="${#temporals.format(hocKi.ngayKetThuc, 'dd/MM/yyyy')}"></p><br>
    <button type="submit">Xóa</button>
</form>

</body>
</html>