<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa Giảng Viên</title>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a href="/qly">Trang chủ</a></li>
                <li><a class="current" href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="form-container">
    <div class="form-wrap">
        <h2>Xóa thông tin giảng viên
            <span th:text="${giangVien.hoTen}"></span>
        </h2>
        <form action="#" method="post" th:action="@{/qly/giangvien/xoa/{id}(id=${giangVien.id})}">
            <div class="form-group">
                <label for="maGiangVien">Mã giảng viên:</label>
                <input id="maGiangVien" readonly th:field="${giangVien.maGiangVien}"></input>
            </div>

            <div class="form-group">
                <label for="hoTen">Họ tên:</label>
                <input id="hoTen" readonly th:field="${giangVien.hoTen}"></input>
            </div>

            <div class="form-group">
                <label for="ngaySinh">Ngày Sinh:</label>
                <input id="ngaySinh" readonly th:field="${giangVien.ngaySinh}"></input>
            </div>

            <div class="form-group">
                <label for="cccd">CCCD:</label>
                <input id="cccd" readonly th:field="${giangVien.cccd}"></input>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" readonly th:field="${giangVien.email}"></input>
            </div>

            <div class="form-group">
                <label for="sdt">Số điện thoại:</label>
                <input id="sdt" readonly th:field="${giangVien.sdt}"></input>
            </div>

            <div class="form-group">
                <label for="khoa">Khoa:</label>
                <input id="khoa" readonly th:field="${giangVien.khoa.tenKhoa}"></input>
            </div>

            <button type="submit">Xóa</button>
        </form>
    </div>
</div>
</div>
</body>
</html>