<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa Sinh Viên</title>
</head>
<body>
<div id="navbar">
    <a href="/qly/giangvien">Quản lý giảng viên</a>
    <a href="/qly/sinhvien">Quản lý sinh viên</a>
    <a href="/qly/monhoc">Quản lý môn học</a>
    <a href="/qly/hocki">Quản lý học kì</a>
    <a href="/qly/modotdangki">Mở đợt đăng kí</a>
</div>
<h1>Xóa Sinh Viên</h1>
<div th:object="${sinhVien}">

    <label for="maSinhVien">Mã sinh viên:</label>
    <p id="maSinhVien" th:text="${sinhVien.maSinhVien}"></p>

    <label for="hoTen">Họ tên:</label>
    <p id="hoTen" th:text="${sinhVien.hoTen}"></p>

    <label for="ngaySinh">Ngày Sinh:</label>
    <p id="ngaySinh" th:text="${#temporals.format(sinhVien.ngaySinh, 'dd/MM/yyyy')}"></p>

    <label for="cccd">CCCD:</label>
    <p id="cccd" th:text="${sinhVien.cccd}"></p>

    <label for="email">Email:</label>
    <p id="email" th:text="${sinhVien.email}"></p>

    <label for="sdt">Số điện thoại:</label>
    <p id="sdt" th:text="${sinhVien.sdt}"></p>

    <label for="khoa">Khoa:</label>
    <p id="khoa" th:text="${sinhVien.khoa.tenKhoa}"></p>
    <form action="#" method="post" th:action="@{/qly/sinhvien/xoa/{id}(id=${sinhVien.id})}">
        <button type="submit">Xóa</button>
    </form>
</div>
</body>
</html>