<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý lớp học phần trong học kì</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a class="current" href="/qly">Trang chủ</a></li>
                <li><a href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a class="current" href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>Quản lý lớp học phần trong học kì</h1>

<button>
    <a th:href="@{/qly/hocki/{id}/lophocphan/them(id=${hocKi.id})}">Thêm lớp học phần</a>
</button>

<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Khoa</th>
        <th>Môn học</th>
        <th>Giảng viên</th>
        <th>Tên lớp học phần</th>
        <th>Ngày trong tuần</th>
        <th>Kíp trong ngày</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lopHocPhan, i : ${dsLopHocPhan}">
        <td><span th:text="${i.index + 1}"></span></td>
        <td th:text="${lopHocPhan.giangVienMonHoc.monHoc.khoa.tenKhoa}"></td>
        <td th:text="${lopHocPhan.giangVienMonHoc.monHoc.tenMonHoc}"></td>
        <td th:text="${lopHocPhan.giangVienMonHoc.giangVien.hoTen}"></td>
        <td th:text="${lopHocPhan.maLopHocPhan}"></td>
        <td th:text="${lopHocPhan.ngayTrongTuan}"></td>
        <td th:text="${lopHocPhan.kipTrongNgay}"></td>
        <td>
            <button>
                <a th:href="@{/qly/hocki/{idHocKi}/lophocphan/xoa/{idLopHocPhan}(idHocKi=${hocKi.id},idLopHocPhan=${lopHocPhan.id})}">
                    Xóa
                </a>
            </button>
        </td>
        <td>
            <button>
                <a th:href="@{/qly/hocki/{idHocKi}/lophocphan/sua/{idLopHocPhan}(idHocKi=${hocKi.id},idLopHocPhan=${lopHocPhan.id})}">
                    Sửa
                </a>
            </button>
        </td>
        <td>
            <button>
                <a th:href="@{/qly/hocki/{idHocKi}/lophocphan/sinhvien/{idLopHocPhan}(idHocKi=${hocKi.id},idLopHocPhan=${lopHocPhan.id})}">
                    Quản lý sinh viên
                </a>
            </button>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>