<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý Giảng Viên</title>
</head>
<body>
<div></div>
<button><a href="/logout">Đăng xuấtx`</a></button>
<nav>
    <a href="/qly/giangvien">Quản lý giảng viên</a>
    <a href="/qly/sinhvien">Quản lý sinh viên</a>
    <a href="/qly/monhoc">Quản lý môn học</a>
    <a href="/qly/hocki">Quản lý học kì</a>
    <a href="/qly/modotdangki">Mở đợt đăng kí</a>
</nav>
<h1>Quản lý Giảng Viên</h1>
<button>
    <a href="/qly/giangvien/them">Thêm Giảng Viên</a>
</button>

<form method="get" th:action="@{/qly/giangvien}">
    <label for="type">Tìm kiếm theo</label>
    <select id="type" th:name="type">
        <option th:value="hoTen">Tên giảng viên</option>
        <option th:value="maGiangVien">Mã giảng viên</option>
    </select>
    <input th:name="keyword" type="text"/>
    <button type="submit">Search</button>
</form>

<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã GV</th>
        <th>Họ tên</th>
        <th>Khoa</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="giangVien, i : ${dsGiangVien}">
        <td><span th:text="${i.index + 1}"></span></td>
        <td><span th:text="${giangVien.maGiangVien}"></span></td>
        <td th:text="${giangVien.hoTen}"></td>
        <td th:text="${giangVien.khoa.tenKhoa}"></td>
        <td><a th:href="@{/qly/giangvien/xoa/{id}(id=${giangVien.id})}">Xóa</a></td>
        <td><a th:href="@{/qly/giangvien/sua/{id}(id=${giangVien.id})}">Sửa</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>