<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sinh viên trong lớp</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang quản lý</h1>
            <ul>
                <li><a class="current" href="/qly">Trang chủ</a></li>
                <li><a href="/qly/giangvien">Quản lý giảng viên</a></li>
                <li><a href="/qly/sinhvien">Quản lý sinh viên</a></li>
                <li><a href="/qly/monhoc">Quản lý môn học</a></li>
                <li><a class="current" href="/qly/hocki">Quản lý học kì</a></li>
                <li><a href="/qly/modotdangky">Mở đợt đăng ký</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<button>
    <a th:href="@{/qly/hocki/{idHocKi}/lophocphan/sinhvien/{idLopHocPhan}/them(idHocKi=${hocKi.id},idLopHocPhan=${lopHocPhan.id})}">Thêm
        sinh viên</a>
</button>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã sinh viên</th>
        <th>Họ tên</th>
        <th>Điểm CC</th>
        <th>Điểm KT1</th>
        <th>Điểm KT2</th>
        <th>Điểm Thi</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ketQuaHocPhan, i : ${dsKetQuaHocPhan}">
        <td th:text="${i.index + 1}"></td>
        <td th:text="${ketQuaHocPhan.sinhVien.maSinhVien}"></td>
        <td th:text="${ketQuaHocPhan.sinhVien.hoTen}"></td>
        <td th:text="${ketQuaHocPhan.diemCC}"></td>
        <td th:text="${ketQuaHocPhan.diemKT1}"></td>
        <td th:text="${ketQuaHocPhan.diemKT2}"></td>
        <td th:text="${ketQuaHocPhan.diemThi}"></td>
        <td>
            <button>
                <a th:href="@{/qly/hocki/{idHocKi}/lophocphan/sinhvien/{idLopHocPhan}/xoa/{idSinhVien}(idHocKi=${hocKi.id},idLopHocPhan=${lopHocPhan.id}, idSinhVien=${ketQuaHocPhan.sinhVien.getId()})}">
                    Xóa
                </a>
            </button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>