<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm giảng viên</title>
</head>
<body>
<div id="navbar">
    <a href="/qly/giangvien">Quản lý giảng viên</a>
    <a href="/qly/sinhvien">Quản lý sinh viên</a>
    <a href="/qly/monhoc">Quản lý môn học</a>
    <a href="/qly/hocki">Quản lý học kì</a>
    <a href="/qly/modotdangki">Mở đợt đăng kí</a>
</div>
<h1>Chọn giảng viên</h1>
<h2>Môn học</h2>
<div th:object="${monHoc}">
    <label for="maMonHoc">Tên môn học</label>
    <p id="maMonHoc" th:text="${monHoc.maMonHoc}"></p>
    <label for="tenMonHoc">Tên môn học</label>
    <p id="tenMonHoc" th:text="${monHoc.tenMonHoc}"></p>
    <label for="khoa">Khoa</label>
    <p id="khoa" th:text="${monHoc.khoa.tenKhoa}"></p>
</div>

<h2>Danh sách giảng viên đang dạy môn học</h2>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã GV</th>
        <th>Họ tên</th>
        <th>Khoa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="giangVien, i : ${dsGiangVienDayMonHoc}">
        <td><span th:text="${i.index + 1}"></span></td>
        <td><span th:text="${giangVien.maGiangVien}"></span></td>
        <td th:text="${giangVien.hoTen}"></td>
        <td th:text="${giangVien.khoa.tenKhoa}"></td>
    </tr>
    </tbody>
</table>
<h2>Danh sách giảng viên không dạy môn học</h2>
<form action="#" method="post" th:action="@{/qly/monhoc/chongiangvien/{id}(id=${monHoc.id})}">
    <table>
        <thead>
        <tr>
            <th>STT</th>
            <th>Mã GV</th>
            <th>Họ tên</th>
            <th>Khoa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="giangVien, i : ${dsGiangVienChuaDayMonHoc}">
            <td><span th:text="${i.index + 1}"></span></td>
            <td><span th:text="${giangVien.maGiangVien}"></span></td>
            <td th:text="${giangVien.hoTen}"></td>
            <td th:text="${giangVien.khoa.tenKhoa}"></td>
            <td><input th:name="dsIdGiangVienDuocChon" th:value="${giangVien.id}" type="checkbox"/></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Xác nhận</button>
</form>
</body>
</html>