<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý Giảng Viên</title>
</head>
<body>
<div id="navbar">
    <a href="/qly/giangvien">Quản lý giảng viên</a>
    <a href="/qly/sinhvien">Quản lý sinh viên</a>
    <a href="/qly/monhoc">Quản lý môn học</a>
    <a href="/qly/hocki">Quản lý học kì</a>
    <a href="/qly/modotdangki">Mở đợt đăng kí</a>
</div>
<h1>Quản lý Giảng Viên</h1>
<button>
    <a href="/qly/giangvien/them">Thêm Giảng Viên</a>
</button>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã GV</th>
        <th>Họ tên</th>
        <th>Khoa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="giangVien, i : ${dsGiangVien}">
        <td><span th:text="${i.index + 1}"></span></td>
        <td><span th:text="${giangVien.maGV}"></span></td>
        <td th:text="${giangVien.hoTen}"></td>
        <td th:text="${giangVien.khoa.tenKhoa}"></td>
        <td><a th:href="@{/qly/giangvien/xoa/{id}(id=${giangVien.id})}">Xóa</a></td>
        <td><a th:href="@{/qly/giangvien/sua/{id}(id=${giangVien.id})}">Sửa</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>