<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa môn học</title>
</head>
<body>
<div id="navbar">
    <a href="/qly/giangvien">Quản lý giảng viên</a>
    <a href="/qly/sinhvien">Quản lý sinh viên</a>
    <a href="/qly/monhoc">Quản lý môn học</a>
    <a href="/qly/hocki">Quản lý học kì</a>
    <a href="/qly/modotdangki">Mở đợt đăng kí</a>
</div>
<h1>Xóa môn học</h1>
<div th:object="${monHoc}">
    <label for="tenMonHoc">Tên môn học</label>
    <p id="tenMonHoc" th:text="${monHoc.tenMonHoc}"></p>
    <label for="ghiChu">Ghi chú:</label>
    <p id="ghiChu" th:text="${monHoc.ghiChu}"></p>
    <label for="tenKhoa">Tên khoa:</label>
    <p id="tenKhoa" th:text="${monHoc.khoa.tenKhoa}"></p>
    <form action="#" method="post" th:action="@{/qly/monhoc/xoa/{id}(id=${monHoc.id})}">
        <button type="submit">Xóa</button>
    </form>
</div>
</body>
</html>