<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <nav id="navbar">
        <div class="container">
            <h1>Trang sinh viên</h1>
            <ul>
                <li><a href="/svien">Trang chủ</a></li>
                <li><a href="/svien/ketqua">Xem kết quả</a></li>
                <li><a href="/svien/lichhoc">Xem lịch học</a></li>
                <li><a class="current" href="/svien/dangky">Đăng ký lớp học phần</a></li>
                <li><a href="/svien/doimatkhau">Đổi mật khẩu</a></li>
                <li>
                    <form action="/logout" id="logout-button" method="post">
                        <button type="submit">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1 class="page-title">Đăng ký học kì</h1>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>Học kì</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hocKi, i : ${dsHocKi}">
        <td><span th:text="${i.index + 1}"></span></td>
        <td><span th:text="${hocKi.maHocKi}"></span></td>
        <td><span th:text="${#temporals.format(hocKi.ngayBatDau, 'dd/MM/yyyy')}"></span></td>
        <td><span th:text="${#temporals.format(hocKi.ngayKetThuc, 'dd/MM/yyyy')}"></span></td>
        <td>
            <button class="table-submit-button"><a th:href="@{/svien/dangky/hocki/{hocKiId}(hocKiId=${hocKi.id})}">Đăng
                ký</a></button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>